doctype html
html(lang="en")
    head
        title Admin Dashboard

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        link(rel='stylesheet', href='../assets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body(style='background-color:#3b3f51;font-style:bold;color:#f4b31b;')

        div.container
            h1 Dashboard
            .container(id="tabs")
                ul.nav.nav-tabs(role="tablist")
                        li.active: a(href="#messages" data-toggle="tab") Messages
                        li: a(href="#viewusers" data-toggle="tab") View Users
                        li: a(href="#users" data-toggle="tab") Create Users
                        li:  a(href="#org" data-toggle="tab") Organization

                .tab-content
                        .tab-pane.active(id="messages") Messages
                        .tab-pane(id="viewusers")
                                    div.container
                                        table(id="user-list" style='border-collapse:collapse;border: 1px solid black;')
                                    include userlist.pug
                        .tab-pane(id="users")
                                      form.form-horizontal(method='post', action ='/users')
                                        div.form-group
                                            // UserName
                                            label.col-sm-2.control-label(for="username") Username:
                                            div.col-sm-10
                                                input#username.form-control(type="text", name="username", placeholder="username")

                                            //Password
                                            label.col-sm-2.control-label(for="password") Password:
                                            div.col-sm-10
                                                input#password.form-control(type="password", name = "password")

                                            //Email
                                            label.col-sm-2.control-label(for="email") Email:
                                            div.col-sm-10
                                                input#email.form-control(type="email", name = "email")

                                            //Job title
                                            label.col-sm-2.control-label(for="job_title") Job Title:
                                            div.col-sm-10
                                                input#job_title.form-control(type="text", name = "job_title")

                                        div.form-group
                                            button.btn.btn-default(type="submit") Create Account
                        .tab-pane(id="org")
                                        div.container
                                            table(id="contact-list")
                                        include organizationlist.pug

        div.container
           h1 You have now logged in!

            form.form-horizontal(method='post', action='/dashboard')
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") Logout

        blockquote #{message}
