doctype html
html(lang="en")
    head
        title Admin Dashboard
        
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        
    body
        div.container
            h1 You have now logged in!
            
            form.form-horizontal(method='post', action='/dashboard')
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") Logout
                    
        blockquote #{message}