doctype html
html(lang="en")
    head
        title Default

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            h1 Default

            //automatically redirect to login if no valid session, but redirect to loggedin if there is a vlaid session
            form.form-horizontal(method='post', action='/')
                button.btn.btn-default(type="submit") Go To Login