doctype html
html(lang="en")
    head
        title Hive Admin Login

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            h1 Admin Login

            form.form-horizontal(method='post', action='/login')
                div.form-group
                    label.col-sm-2.control-label(for="name") Email
                    div.col-sm-2
                        input#name.form-control(type="text", name="username", placeholder="")

                div.form-group
                    label.col-sm-2.control-label(for="password") Password
                    div.col-sm-2
                        input#password.form-control(type="password", name="password", placeholder="")

                div.form-group
                    div.col-sm-offset-2.col-sm-2
                        button.btn.btn-default(type="submit") Submit

        blockquote #{message}

        blockquote Don't have an account? <a href="/join"> Join Hive Now </a>
