//Broady speaking We probably want the following information:
    //Name, Industry
div.container
    table(border = 1)
        tr
        th Name
        each val in list
            tr
            td= val