//
   Created by voot on 10/30/16.

doctype html
html(lang="en")
    head
        title Hive - User Creation

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")

    body
        div.container
            h3
            form.form-horizontal(method='post', action ='/usercreation')
                div.form-group

                    // UserName
                    label.col-sm-2.control-label(for="username") Username:
                    div.col-sm-10
                        input#username.form-control(type="text", name="username", placeholder="username")

                    //Password
                    label.col-sm-2.control-label(for="password") Password:
                    div.col-sm-10
                        input#password.form-control(type="password", name = "password")

                    //Email
                    label.col-sm-2.control-label(for="email") Email:
                    div.col-sm-10
                        input#email.form-control(type="email", name = "email")

                    //Job title
                    label.col-sm-2.control-label(for="job_title") Job Title:
                    div.col-sm-10
                        input#job_title.form-control(type="text", name = "job_title")

                    //Org ID
                    label.col-sm-2.control-label(for="org_id") org_id:
                    div.col-sm-10
                        input#org_id.form-control(type="text", name = "org_id")

                div.form-group
                            button.btn.btn-default(type="submit") Create Account